<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Guest List</title>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
  <div class="guest-list-container">
  <h1 class='blues-clues-font'>Hi Tiff!</h1>
  <a class='small-link' href="/logout">logout</a>
   <fieldset>
     <legend>Invite a guest</legend>
     <form method="post" action='/add-invite'>
       <label for="name">Full Name</label>     
       <input type="text" name="name" required>
       <br>
       <label for="email">Email</label>     
       <input type="text" name="email" placeholder='optional'>
       <br>
       <button type="submit">Add invite</button>
     </form>
     
   </fieldset>
    <div id="guest-list-body">
      <h2>Confirmed Guests ({{rsvp_yes|length}})</h2>
      {%for guest in rsvp_yes%}
        <p>{{guest[0]}}</p>
      {%endfor%}
      <br /><br />
      
      <h2>Unconfirmed ({{rsvp_not_yet|length}})</h2>
      {%for guest in rsvp_not_yet%}
        <p>{{guest[0]}} - <a class='small-link' href="/invite/{{guest[3]}}/{{guest[4]}}">invite link</a></p>
      {%endfor%}
      <br /><br />
    
      <h2>Not Coming ({{rsvp_no|length}})</h2>
      {%for guest in rsvp_no%}
        <p>{{guest[0]}}</p>
      {%endfor%}
    </div>

    <fieldset>
      <legend>Edit party details</legend>
      <form method="post" action='/update-party-info'>
        <label for='party-date'>Party Date:</label>
        <input type="text" name='party-date' id='party-date' 
          value="{{party_info['party-date']}}">
        <br>
        <label for='party-time'>Party Time:</label>
        <input type="text" name='party-time' id='party-time' 
          value="{{party_info['party-time']}}">
        <br>
        <label for='party-location'>Party Location:</label>
        <input type="text" name='party-location' id='party-location' 
          value="{{party_info['party-location']}}">
        <br>
        <button type="submit">Update details</button>
      </form>
    </fieldset>
    
  </div>
</body>
</html>